<include file="Public:main_top" />
<load href="__PUBLIC__/Js/Layer/layer.js" />
<div style="width:100%;background-color:#FFF;padding:10px 0 10px 5px;">
    <form action="" method="get">
    <input type="hidden" name="c" value="{$Think.CONTROLLER_NAME}">
    <input type="hidden" name="a" value="{$Think.ACTION_NAME}">
    SKU：<input type="text" name="product_code" value="{$Think.get.product_code}">&nbsp;
    产品状态：
    <select name="product_status">
      <option value=''>所有</option>
      <option value="1">上架</option>
      <option value="0">下架</option>
    </select>
    <input type="submit" class="button" value="查询">
    </form>
</div>
<table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646" class="newfont03">
  <tr>
    <td width="5%" align="center" bgcolor="#EEEEEE">SKU</td>
    <td width="10%" align="center" bgcolor="#EEEEEE">中文名称</td>
    <td width="10%" align="center" bgcolor="#EEEEEE">产品名称</td>
    <td width="5%" align="center" bgcolor="#EEEEEE">产品数量</td>
    <td width="5%" align="center" bgcolor="#EEEEEE">产品状态</td>
    <td width="5%" align="center" bgcolor="#EEEEEE">产品价格</td>
    <td width="5%" align="center" bgcolor="#EEEEEE">采购价格</td>
    <td width="15%" align="center" bgcolor="#EEEEEE">采购地址一</td>
    <td width="5%" align="center" bgcolor="#EEEEEE">采购地址二</td>
    <td width="10%" align="center" bgcolor="#EEEEEE">关键字</td>
    <td width="10%" align="center" bgcolor="#EEEEEE">产品描述</td>
    <td width="5%" align="center" bgcolor="#EEEEEE">产品图片</td>
    <td width="10%" align="center" bgcolor="#EEEEEE">操作</td>
  </tr>
  <foreach name="voList" item="vo" >
  <tr>
    <td height="30" bgcolor="#FFFFFF" bgcolor="#FFFFFF"><a href="{:U('Product/detail',array('product_id' => $vo['product_id']))}">{$vo.product_code}</a></td>
    <td bgcolor="#FFFFFF" val="{$vo.product_title}">{$vo.product_title_s}</td>
    <td bgcolor="#FFFFFF">{$vo.product_name_s}</td>
    <td bgcolor="#FFFFFF">{$vo.product_quantity}</td>
    <td bgcolor="#FFFFFF">{$vo.product_status}</td>
    <td bgcolor="#FFFFFF">{$vo.product_price}</td>
    <td bgcolor="#FFFFFF">{$vo.purchase_price}</td>
    <td bgcolor="#FFFFFF">{$vo.purchase_url_1_s}</td>
    <td bgcolor="#FFFFFF">{$vo.purchase_url_2}</td>
    <td id="p_kwds_{$vo['product_id']}" val="{$vo.product_keywords}" bgcolor="#FFFFFF">{$vo.product_keywords_s}</td>
    <td id="p_desc_{$vo['product_id']}"  val="{$vo.product_desc}" bgcolor="#FFFFFF">{$vo.product_desc_s}</td>
    <td bgcolor="#FFFFFF">{$vo.product_image_url}</td>
    <td bgcolor="#FFFFFF">
    <a href="{:U('Product/edit',array('product_id' => $vo['product_id']))}"><input type="button" class="button" value="编辑"></a>
    <a href="{:U('Product/attr',array('product_id' => $vo['product_id']))}"><input type="button" class="button" value="属性"></a>
    <a onclick="return confirm('确定删除？')" href="{:U('Product/delete',array('product_id' => $vo['product_id']))}"><input type="button" class="button" value="删除"></a>    
    </td>
  </tr>
</foreach>
</table>
<div style="padding:5px;text-align:center">{$page}</div>
<include file="Public:main_bottom" />

<script type="text/javascript">
$(function(){
    $("td[id^='p_kwds_'],[id^='p_desc_']").click(function(){
        var val = $(this).attr('val');
        layer.tips(val, this, {
            style: ['background-color:#78BA32; color:#fff', '#78BA32'],
            maxWidth:400,
            time: 3,
            closeBtn:[0, true]
        });
    })
})
</script>