<include file="Public:main_top" />
<fieldset style="height:100%;">
  <legend>订单基本信息</legend>
  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
    <tr>
      <td nowrap align="right" width="15%">订单编号:</td>
      <td width="35%">{$vo.order_no}</td>
      <td nowrap align="right" width="15%">邮箱:</td>
      <td width="35%">{$vo.customer_email}</td>
    </tr>
    <tr>
      <td nowrap align="right" width="15%">交易号:</td>
      <td width="35%">{$vo.trade_no}</td>
      <td nowrap align="right" width="15%">姓名:</td>
      <td width="35%">{$vo.customer_name}</td>
    </tr>
    <tr>
      <td nowrap align="right" width="15%">订单金额:</td>
      <td width="35%">{$vo.order_amount}</td>
      <td nowrap align="right" width="15%">国家:</td>
      <td width="35%">{$vo.country}</td>
    </tr>
    <tr>
      <td nowrap align="right" width="15%">订单状态:</td>
      <td width="35%">{$vo.order_status}</td>
      <td nowrap align="right" width="15%">省/州:</td>
      <td width="35%">{$vo.state}</td>
    </tr>
    <tr>
      <td nowrap align="right" width="15%">下单日期:</td>
      <td width="35%">{$vo.order_date}</td>
      <td nowrap align="right" width="15%">城市:</td>
      <td width="35%">{$vo.city}</td>
    </tr>
    <tr>
      <td nowrap align="right" width="15%">支付方式:</td>
      <td width="35%">{$vo.payment_method}</td>
      <td nowrap align="right" width="15%">地址:</td>
      <td width="35%">{$vo.address}</td>
    </tr>
    <tr>
      <td nowrap align="right" width="15%">运输方式:</td>
      <td width="35%">{$vo.shipping_method}</td>
      <td nowrap align="right" width="15%">邮编:</td>
      <td width="35%">{$vo.postcode}</td>
    </tr>
    <tr>
      <td nowrap align="right" width="15%">运输费用:</td>
      <td width="35%">{$vo.shipping_fee}</td>
      <td nowrap align="right" width="15%">电话:</td>
      <td width="35%">{$vo.phone}</td>
    </tr>
    <tr>
      <td width="15%" nowrap="" align="right">客户备注:</td>
      <td colspan="3">{$vo.customer_remark}</td>
    </tr> 
    <tr>
      <td colspan="4" align="center"><input type="button" onclick="window.location='{:U("Order/edit",array('order_id'=>$vo['order_id']))}'" class="button" value="编辑"></td>
    </tr>
  </table>
  <br />
</fieldset>

<fieldset style="height:100%;">
  <legend>订单产品信息</legend>
  <table border="0" cellpadding="4" cellspacing="1" style="width:100%" bgcolor="#464646">
    <tr>
      <td bgcolor="#EEEEEE" width="5%" align="center">SKU</td>
      <td bgcolor="#EEEEEE" width="15%" align="center">产品名称</td>
      <td bgcolor="#EEEEEE" width="5%" align="center">产品颜色</td>
      <td bgcolor="#EEEEEE" width="5%" align="center">产品尺寸</td>
      <td bgcolor="#EEEEEE" width="5%" align="center">产品价格</td>
      <td bgcolor="#EEEEEE" width="5%" align="center">是否采购</td>
      <td bgcolor="#EEEEEE" width="5%" align="center">采购价格</td>
      <td bgcolor="#EEEEEE" width="30%" align="center">采购地址</td>
      <td bgcolor="#EEEEEE" width="5%" align="center">快递公司</td>
      <td bgcolor="#EEEEEE" width="10%" align="center">运单号</td>
      <td bgcolor="#EEEEEE" width="10%" align="center">操作</td>
    </tr>
    <foreach name="products" item="p">
      <tr align="center">
        <td  bgcolor="#FFFFFF">{$p.product_code}</td>
        <td  bgcolor="#FFFFFF">{$p.product_name}</td>
        <td  bgcolor="#FFFFFF">{$p.product_color}</td>
        <td  bgcolor="#FFFFFF">{$p.product_size}</td>
        <td  bgcolor="#FFFFFF">{$p.product_price}</td>
        <td  bgcolor="#FFFFFF">
          <if condition="$p['purchase_status'] eq 1">
              <span style="color:red;font-size:14px;">是</span>
          <else/>
              否
          </if>
        </td>
        <td  bgcolor="#FFFFFF">{$p.purchase_price}</td>
        <td  bgcolor="#FFFFFF">{$p.purchase_url}</td>
        <td  bgcolor="#FFFFFF">{$p.express_company}</td>
        <td  bgcolor="#FFFFFF">{$p.express_number}</td>        
        <td  bgcolor="#FFFFFF">
          <if condition="$p['purchase_status'] eq 0">
          <input type="button" id="p_purchase" val="{$p.order_product_id}" class="button" value="采购">
          </if>
          <input type="button" onclick="window.location='{:U("Order/productEdit",array('order_product_id'=>$p['order_product_id']))}'" class="button" value="编辑">
          
        </td>
      </tr>
    </foreach>
  </table>
  <br />
</fieldset>

<script type="text/javascript">
$(function(){
  $('#p_purchase').bind('click',function(){
    $.ajax({
      type : 'POST',
      url  : "{:U('order/productPurchase')}",
      data : {order_product_id : $(this).attr('val')},
      dataType : 'json',
      success:function(data){
         if(data==1){
            $('#p_purchase').attr('disabled','disabled').removeClass('button');
         }
      }
    })
  })
})

</script>
<include file="Public:main_bottom" />
