<table cellspacing="1" cellpadding="2" border="0" style="width:100%">
  <tr height='40'>
    <td width="10%">属性名:</td>
    <td><input type="text" name="option_name" value="{$attrOption.option_name}" class="text"></td>
  </tr>
  <tr>
    <td>排序:</td>
    <td><input type="text" name="option_sort" value='{$attrOption.option_sort}' class="text"></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" class="button" value="保存">
      <input type="button" class="button" value="返回" onclick="window.history.go(-1);"/></td>
  </tr>
</table>
