<include file="Public:main_top" />

<div style="margin:5px;">
  <a href="{:U('Attribute/optionAdd')}"><input type="button" class="button" value="新增属性"></a>
</div>


<div style="margin:0 auto;width:99%;margin-top:5px;">
  <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td height="20"><span class="newfont07">属性名列表</span></td>
      </tr>
      <tr>
        <td height="40"><table width="100%" bgcolor="#464646" cellspacing="1" cellpadding="4" border="0">
            <tbody>
              <tr>
                <td width="20%" bgcolor="#EEEEEE" align="center">ID</td>
                <td width="30%" bgcolor="#EEEEEE" align="center">属性名</td>
                <td width="30%" bgcolor="#EEEEEE" align="center">排序</td>
                <td width="20%" bgcolor="#EEEEEE" align="center">操作</td>
              </tr>
              <foreach name="attrOptions" item="op">
              <tr align="center">
                <td bgcolor="#FFFFFF">{$op.option_id}</td>
                <td bgcolor="#FFFFFF">{$op.option_name}</td>
                <td bgcolor="#FFFFFF">{$op.option_sort}</td>
                <td bgcolor="#FFFFFF">
                 <a href="{:U('Attribute/optionEdit',array('option_id'=>$op['option_id']))}"><input type="button" class="button" value="编辑"></a>
                 <a onclick="return confirm('确定删除？')" href="{:U('Attribute/optionDel',array('option_id'=>$op['option_id']))}"><input type="button" class="button" value="删除"></a>
                </td>
            </foreach>
            </tbody>
          </table></td>
      </tr>
    </tbody>
  </table>
</div>

<include file="Public:main_bottom" /> 

